body {
  font-family: Arial, sans-serif;
  color: #8d8d8d;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
}

header {
  background-color: #ffffff;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
}

nav a {
  background-color: #b33434;
  background-repeat: repeat;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  display: center;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
  margin-top: 25rem;
}

.logo {
  height: auto;
  width: 100%;
}
